.bg-truPurple-light:hover {
    background-color: rgb(80, 45, 129);
}

.table-row-hover tbody tr {
    transition: all ease .2s;
}

.table-row-hover tbody tr:hover {
    background-color: rgb(244 245 247);
}

.table-row-hover tbody tr td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
